:root {
  --bs-light-rgb: none;
}

.row > * {
  padding-right: 0;
}

.row {
  margin-right: 0;
}

.navbar {
  padding-bottom: 0;
  padding-top: 0;
}

.navbar-light .navbar-toggler {
  border-color: white;
  color: white !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #0f3921;
}
.navbar-light .navbar-toggler-icon {
  background-image: url(images/menu.svg) !important;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  font-family: "quiet sans", serif;
}

.form-control {
  border-radius: 0px;
  color: black;
  border-color: black;
}

.btn-outline-success {
  color: white;
  border-color: white;
  background-color: #0f3921;
}

.btn:hover {
  color: black;
  border-color: white;
  background-color: #d48e75;
}

.btn {
  border-radius: 0px;
}

.d-flex {
  font-family: "quiet sans", serif;
}

.form-control:focus {
  border-color: black;
  box-shadow: 0px 0px black;
}

h1 {
  font-family: "Playfair Display", serif;
  /* font-size: 3.5rem; */
  font-size: calc(1.825rem + 3.5vw);
  padding-top: 2vw;
  padding-bottom: 2vw;
  color: black;
}

.navbar-nav {
  align-items: right;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1.5rem;
  padding-left: 2.5rem;
}

:root h2 {
  color: black;
  font-family: "Playfair Display", serif;
}

:root h3 {
  color: black;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
}

p {
  color: black;
  font-family: "quiet sans", serif;
  line-height: 1.8rem;
  text-align: left;
  padding-right: 60px;
}

#section_2 {
  background-color: #e0a48e;
}

.btn-primary {
  background-color: #0f3921;
  color: white;
  border: none;
  font-family: "quiet sans", serif;
}

.knap {
  text-align: center;
  align-items: center;
  align-content: center;
  padding-right: 70px;
}

.knap2 {
  text-align: center;
  align-items: center;
  align-content: center;
  padding-right: 70px;
}

.blad {
  float: right;
}

.baer {
  text-align: center;
}

#section_6 {
  background-color: #0f3921;
}

h5 {
  color: black;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
}

.carousel-caption {
  bottom: -2.5rem;
}

.carousel-inner {
  position: relative;
  width: 56%;
  overflow: hidden;
}

.carousel {
  left: 0;
}

/* .carousel-control-next {
  left: 5px;
} */

.carousel-control-prev {
  right: 200px;
}
#section_info {
  background-color: #0f3921;
  padding: 2%;
}
footer {
  display: block;
}
footer .row {
  padding-top: 3%;
  padding-left: 10%;
}
a {
  color: black;
  font-family: "quiet sans", serif;
}
