body {
  background-color: #124527;
}
:root h2 {
  color: white;

  padding: 1rem;
  font-family: quit sand;
}

:root h3 {
  color: white;
  font-family: quit sand;
  padding: 1rem;
}

.blomst {
  width: 15vh;
  right: 25vh;
}

p {
  color: white;
  font-family: quit sand;
  padding: 4rem;
  line-height: 2rem;

  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
}

.pige {
  width: 100%;
}
#sektion_2 {
  background: white;
}
